body {
  padding: 0;
  margin: 0;
  background: #2D384A;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #2D384A 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #2D384A 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #2D384A 100%);
}

/** Header styles **/
.header {
  background-image: url(https://lh3.googleusercontent.com/drV1BkHIVbC6Cf3B2bWw2q95RYR6x8e2tkxTpx40rSkHrQcVUEwgxeESz-RoDXDkGzVw0CJrLXYSHoSdT8CLsXNHEJN-ILwePDWb4ILGULE4q_ONJi0M3RxrNyriJyZVhI4-IReWTVcOh8N9obGedWNUdhiseRaiO2oIG50mZQ_0r5fJHO-za6HLfimDxuXZsq8rrRR4vE47NRDTJXy2SoNnZfSJS-KYE9am1mRg1TiA976gRGweQQFBTIDY4Ttqcc4gTJLRPYnQE9vM-r2jgabVDqd4HotHNRrMrg4TjHWQTg7jQ0yNBUkQA5NndFThxW3MW5UrNTdiXyXZ9gdSLpuvy7sotbyk-QDnX8NNa22zYFymCDMuUB4AN7HAF8YnOq5lVAJuaXcbimxQSmVqDR_n3LHXD68exa91JJQKWuAouJ-MkYoQcPFkM4ls4s1OEBHmYrsd3tAmmO04ZtHBCJ3jlRG3CAGI0EKF-6w4YgnQDxOx5768MRU8iFcqly4h6o4Z3kwLghYFIlsYYHqUQMzNqp4czvpj1FpTNfqb3td61yc9WpUmnrFQBbzLfD97rI47Nm7LrtNmNf3On9QiNq86emhgBANUoOjQPro=s637-no);
  height: 400px;
  background-position: center center;
}

.roasting {
  margin: 40px auto;
  padding: 20px 30px 40px 30px;
  background-color: #2D6573
  overflow: auto;
  width: 75%;
  border-radius: 4px;
  align-self: center;
}

.roasting p {
  color: white;
  text-align: center;
  line-height: 24px;
  font-family: 'Bitter', sans-pro;
  font-size: 16px;
  font-weight: 400;
}

.spectrum div {
  font: inherit;
  padding: 0 20px;
  color: #white;
  overflow: auto;
  opacity: 0.9;
}

.spectrum p {
  color: white;
  text-align: left;
}

/* Roast types */
.green {
  background-color:#E97778;
}

.light {
  background-color: #89C7B6;
}

.city {
  background-color: #FFD57E;
}

.vienna {
  background-color: #AD84C7;
}

.italian {
  background-color: #7998C9
}

/* Typography */
h1 {
  color: black;
  font-family: 'Bitter', sans-pro;
  font-size: 35px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 1%;
}

h2 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

h3 {
  color: orange;
  font-family: 'Bitter', sans-pro;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

h4 {
  font-family: 'Bitter', sans-pro;
  font-size: 28px;
  font-weight: 700;
  line-height: .2em;
}

h5 {
  font-family: 'Bitter', sans-pro;
  font-size: 20px;
  line-height: .2em;
  font-weight: 300;
}

/* Page elements */
ul {
  margin: 0 auto;
  padding: 0;
  width: 75%;
}

li {
  border-bottom: 1px solid #E4BB97;
  list-style: none;
  margin: 100px 0px;
  padding-bottom: 60px;
}

p {
  color: orange;
  line-height: 32px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

a {
  color: #214E34;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}
footer 
p {
  text-align: center;
  font-size: small;
}
}
