body {
  padding: 0;
  margin: 0;
  background: #2D384A;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #2D384A 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #2D384A 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #2D384A 100%);
}

/** Header styles **/
.header {
  background-image: url(https://lh3.googleusercontent.com/FQmOIScggeHFoK73LWlTYcSg3dosSUOeRLS7aiNcan8pN0iW7ZGjbIWMxSkzHQlaIFnlordWzkupcf9DBjaJC2Rrih_Ao3vXojWJtEim_L2WRPx-ZiGWlEHtlmcexuhWn6HhrnLF0Qjn9VaDazPm6d09xZfNDPPw4yu6eWLzpSJTIvXMvaqz9ujcNgnV2fTRGbzmKVLykMXFw5dFm4stGTXGelw5ksQJ0-7_4Uvm12zrUHy7i7WYRMv2EZu3Msy7b3huHiL-ooXdra_b4tYcR0silPfsjUBxjZ-uA5LgR-FfMZyozBhlngMPKESC6nba6pUu-Hscy5tYWgbCpcrA7MK0V-TaGjY6U67lzQ61-kZKztIH0Lhs2Eijh5M_ry2ZlyQJ-JfyrnPJSqbrmYwgj-hInadCs9mwotMpdax27qYjVCLjFi2LUysccWF0UuGzaqJEEtDKomVs7HnRHuOvT683LHtR2KgiBJ_HiPkY4RPwd2RAX-Cnas_pG3RP6vrKl9HnWvAaK2bJWjdWL3useOwAJ9rjPap0Ck-7zikGik6f2p3ZqEnpNUmI24UAo2RRmVY_Kmm2WsIrvq95ma4DI4j_W7rVLVJGQnKAvZg=s637-no);
  height: 400px;
  background-position: center;
}

.roasting {
  margin: 40px auto;
  padding: 20px 30px 40px 30px;
  background-color: #2D6573
  overflow: auto;
  width: 75%;
  border-radius: 4px;
  align-self: center;
}

.roasting p {
  color: white;
  text-align: center;
  line-height: 24px;
  font-family: 'Bitter', sans-pro;
  font-size: 16px;
  font-weight: 400;
}

.spectrum div {
  font: inherit;
  padding: 0 20px;
  color: #white;
  overflow: auto;
  opacity: 0.9;
}

.spectrum p {
  color: white;
  text-align: left;
}

/* Roast types */
.green {
  background-color:#E97778;
}

.light {
  background-color: #89C7B6;
}

.city {
  background-color: #FFD57E;
}

.vienna {
  background-color: #AD84C7;
}

.italian {
  background-color: #7998C9
}

/* Typography */
h1 {
  color: black;
  font-family: 'Bitter', sans-pro;
  font-size: 35px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 1%;
}

h2 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

h3 {
  color: orange;
  font-family: 'Bitter', sans-pro;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

h4 {
  font-family: 'Bitter', sans-pro;
  font-size: 28px;
  font-weight: 700;
  line-height: .2em;
}

h5 {
  font-family: 'Bitter', sans-pro;
  font-size: 20px;
  line-height: .2em;
  font-weight: 300;
}

/* Page elements */
ul {
  margin: 0 auto;
  padding: 0;
  width: 75%;
}

li {
  border-bottom: 1px solid #E4BB97;
  list-style: none;
  margin: 100px 0px;
  padding-bottom: 60px;
}

p {
  color: orange;
  line-height: 32px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

a {
  color: #214E34;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}
footer 
p {
  text-align: center;
  font-size: small;
}
}
